<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mb-5">Course Addition for Students</h2>
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card border-secondary">
                        <div class="card-header">
                            <h3 class="mb-0 my-2">Add a Course</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Select From Your Registered Courses</label>
                                <div class="dropdown">
                                    <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        required="">
                                        {{ dropdownLegendCourse }}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a *ngFor="let course of uniqueCourses" class="dropdown-item" (click)="onSelectCourse(course.courseCode)">{{ course.courseCode }} - {{ course.courseName }}</a>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="show" class="form-group">
                                <label>Select a Section</label>
                                <div class="dropdown">
                                    <button class="btn btn-light dropdown-toggle" type="button" id="section" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        required="">
                                        {{ dropdownLegendSection }}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a *ngFor="let section of sections" class="dropdown-item" (click)="onSelectedSection(section)">{{ section }}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" (click)="onRegister()" class="btn btn-success btn-lg float-left">Register</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/row-->

    </div>
    <!--/col-->
</div>
<!--/row-->
<!--/container-->