<div class="container py-5">
  <div class="row">
      <div class="col-md-12">
          <h2 class="text-center mb-5">Course Drop for Students</h2>
          <div class="row">
              <div class="col-md-6 mx-auto">
                  <div class="card border-secondary">
                      <div class="card-header">
                          <h3 class="mb-0 my-2">Drop a Course</h3>
                      </div>
                      <div class="card-body">
                          <form class="form" role="form" autocomplete="off">
                              <div class="form-group">
                                  <label for="courseCode">Course Code</label>
                                  <div class="dropdown">
                                    <button class="btn btn-light dropdown-toggle" type="button" id="section" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" required="">
                                      Select the Course
                                    </button>
                                    <!-- Here load courses of student -->
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <a class="dropdown-item" href="#">1</a>
                                      <a class="dropdown-item" href="#">2</a>
                                      <a class="dropdown-item" href="#">3</a>
                                    </div>
                              </div>
                              </div>
                              <!-- Hide this div, and show it when the the course code is entered -->
                              <div class="form-group">
                                  <label for="courseName">Course Name</label>
                                  <input type="text" class="form-control" id="courseName" placeholder="Enter Course Name" readonly="">
                              </div>
                              <div class="form-group">
                                  <button type="submit" class="btn btn-success btn-lg float-left">Drop Course</button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
          <!--/row-->

      </div>
      <!--/col-->
  </div>
  <!--/row-->
</div>
<!--/container-->