<div class="container">
  <h2>Students Enrolled</h2>
  <p class="lead">Please always keep updated your student information</p>
  <table class="table text-center">
    <thead class="thead-dark">
      <tr>
        <th>Student Number</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Semester</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>123456</td>
        <td>John</td>
        <td>Doe</td>
        <td>123 Main Street</td>
        <td>Toronto</td>
        <td>123 - 123- 1234</td>
        <td>jdoe@e.com</td>
        <td>5</td>
      </tr>
    </tbody>
  </table>
</div>