<div class="container">
  <h2>Courses Available</h2>
  <p class="lead">Contact your success advisor for more detailed information</p>
  <table class="table text-center">
    <thead class="thead-dark">
      <tr>
        <th>Course Code</th>
        <th>Course Name</th>
        <th>Section</th>
        <th>Semester</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses">
        <td>{{ course.courseCode }}</td>
        <td>{{ course.courseName }}</td>
        <td>{{ course.section }}</td>
        <td>{{ course.semester }}</td>
      </tr>
      <tr>
    </tbody>
  </table>
</div>