<div class="container">
  <h2>Courses Available</h2>
  <p class="lead">Contact your success advisor for more detailed information</p>
  <table class="table text-center">
    <thead class="thead-dark">
      <tr>
        <th>Course Code</th>
        <th>Course Name</th>
        <th>Section</th>
        <th>Semester</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>COMP308</td>
        <td>Emerging Technologies</td>
        <td>001</td>
        <td>5</td>
      </tr>
      <tr>
        <td>COMP303</td>
        <td>Java EE Programming</td>
        <td>002</td>
        <td>5</td>
      </tr>
      <tr>
        <td>CNET329</td>
        <td>Business and ICT</td>
        <td>001</td>
        <td>4</td>
      </tr>
    </tbody>
  </table>
</div>