<div class="container">
  <h2>Classlist per Course</h2>
  <p class="lead">Contact your success advisor for further information</p>
  <div class="form-group">
    <div class="pb-5">
    <div class="row">
      <label for="courseCode">Course Code</label>
    </div>
    <div class="row">
      <input type="text" class="form-control w-25" [(ngModel)]="courseCode" placeholder="Enter Course Code">
      <button type="button" class="btn btn-success btn-lg" (click)="onSearch()">Search for Classlist</button>
    </div>
  </div>
    <table class="table text-center">
      <thead class="thead-dark">
        <tr>
          <th>Student ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Semester</th>
          <th>Section</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of classlist">
          <td>{{ student.studentNumber }}</td>
          <td>{{ student.firstName }}</td>
          <td>{{ student.lastName }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.semester }}</td>
          <ng-container *ngFor="let course of student.courses">
              <td *ngIf="course.courseCode == courseCode">{{ course.section }}</td>
          </ng-container>     
        </tr>
      </tbody>
    </table>
  </div>